
/*** for ipad tablts***/
@media only screen and (max-width:760px), (max-width:960px), (max-width:100%) {
img{width:100%; display:block;}
body{font-size:14px;}
#main{width:90%; padding:10px 2%;}

#main1 .header{height:35px; font-size:16px; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

#main1 .main_header{font-size:16px;}
#main1 .main_header span{font-size:30px;line-height:35px;}

#main1 .greetings{width:90%; float:left; padding:20px 5%;}
#main1 .greetings strong{font-size:21px;}

#main1 .common_content{width:90%; float:left; padding:20px 5%;}

#main1 .book_content{width:90%;padding:19px 5%;}
#main1 .book_content .img_holder{ width:190px; margin:0 auto; float:none; padding:0 0 20px 0}
#main1 .book_content .text_holder{ width:100%;font-size:16px;}
#main1 .book_content .text_holder ul li{background:url(../images/symb1.png) no-repeat 0 0; padding:0 0 20px 10%; width:90%;}

#main1 .publishing_market{width:90%;padding:20px 5%; font-size:18px;}
#main1 .publishing_market span{font-size:30px;line-height:40px;}
#main1 .publishing_market span.book{width:32px;}

#main1 .ebook_revolution{background:url(../images/flag.png) no-repeat no-repeat center 30px; font-size:35px;}

#main1 .ugly_dont_sell{font-size:35px;background:url(../images/ico1.png) no-repeat 20% 55px; }

#main1 .book_cover{font-size:36px;}
#main1 .book_cover span{font-size:16px;}

#main1 .extremely_difficult{font-size:36px;}
#main1 .extremely_difficult span{font-size:16px;}

#main1 .tagline{font-size:22px;}

#main1 .create_awesome{font-size:18px;}
#main1 .create_awesome span{font-size:30px;}
#main1 .create_awesome span strong{font-size:30px;}
#main1 .create_awesome strong{font-size:36px;}

#main1 .footer{font-size:30px;}

#main1{width:90%; padding:30px 2%;}

#main2 .tagline{font-size:35px;}
#main2 .small_tagline{font-size:25px;}
#main2 .small_tagline span{font-size:16px;}

#main1 img.img10{width:210px;}

#main2 .common_content{width:90%; padding:20px 5%;}
#main2 .common_content strong{font-size:18px;}
#main2 .over_100_backgrounds_img{width:50%;}
#main2 .over_100_backgrounds_text{ width:45%; padding:0 0 0 5%;}

#main2 .built_in_graphics_img{width:50%;}
#main2 .built_in_graphics_texts{ width:45%;padding:0 5% 0 0;}

#main2 .one_click_conversion{width:90%; padding:20px 5%;}
#main2 .one_click_conversion strong{font-size:18px;}
#main2 .one_click_conversion .text_holder{width:50%;}
#main2 .one_click_conversion .img_holder{width:80%; float:right;margin-top:-120px;}

#main2 .fully_featured{width:90%; padding:20px 5%;}
#main2 .fully_featured ul li{ width:31%; float:left; margin:0 1% 15px 1%;}
#main2 .fully_featured ul li.nospace{margin:0 1% 15px 1%;}

#main2 .our_services{width:90%; padding:20px 5%;}
#main2 .our_services ul li{background:url(../images/symb1.jpg) no-repeat 0 0; padding:0 0 30px 10%; width:90%; font-size:17px; color:#263f52;font-family:'open_sanssemibold';}

#main2 .add_cart span.red{font-size:28px;}
#main2 .add_cart span.grey{font-size:20px;}
#main2 .add_cart img.button{width:85%; margin:0 auto;}
#main2 .add_cart img.cards{width:40%; margin:0 auto;}


}

/*** FOR MOBILE BROWERS ***/
@media only screen and (max-width:300px), (max-width:320px),(max-width:400px), (max-width:450px), (max-width:500px){
img{width:100%; display:block;}
#main1 .header {height:auto; background:#b02618; padding:15px 2%; width:96%}

#main1 .main_header{font-size:14px;}
#main1 .main_header span{font-size:25px;line-height:30px;}
#main1 .main_header img.logo{ width:100%; margin:0 auto;}

#main1 .greetings strong{font-size:17px;}

#main1 .book_content .text_holder{ width:100%;font-size:14px;}

#main1 .publishing_market{width:font-size:14px;}
#main1 .publishing_market span{font-size:25px;line-height:28px;}
#main1 .publishing_market span.book{width:25px;}

#main1 .ebook_revolution{font-size:30px;}

#main1 .ugly_dont_sell{font-size:30px; background:none;}

#main1 .book_content .text_holder ul li{padding:0 0 20px 15%; width:85%;}

#main1 .book_cover{font-size:30px;}
#main1 .book_cover span{font-size:14px;}

#main1 .extremely_difficult{font-size:30px;}
#main1 .extremely_difficult span{font-size:14px;}

#main1 .tagline{font-size:18px;}
#main1 .center_image img.single_book{width:100%; margin:0 auto;}

#main1 .create_awesome{font-size:14px;}
#main1 .create_awesome span{font-size:25px;}
#main1 .create_awesome span strong{font-size:25px;}
#main1 .create_awesome strong{font-size:30px;}

#main1 .footer{font-size:25px; line-height:normal;}

#main2 .over_100_backgrounds_img{width:100%;}
#main2 .over_100_backgrounds_text{ width:100%; padding:0;}

#main2 .built_in_graphics_img{width:100%;}
#main2 .built_in_graphics_texts{ width:100%;padding:0;}

#main2 .one_click_conversion .text_holder{width:100%;}
#main2 .one_click_conversion .img_holder{width:100%;margin-top:0;}

#main2 .fully_featured ul li{ width:98%; margin:0 1% 15px 1%;}
#main2 .fully_featured ul li img{width:200px; margin:0 auto;}

#main2 .our_services{width:90%; padding:20px 5%;}
#main2 .our_services ul li{background:url(../images/symb1.jpg) no-repeat 0 0; padding:0 0 30px 10%; width:90%; font-size:17px; color:#263f52;font-family:'open_sanssemibold';}

#main2 .add_cart span.red{font-size:28px;}
#main2 .add_cart span.grey{font-size:20px;}
#main2 .add_cart img.button{width:85%; margin:0 auto;}
#main2 .add_cart img.cards{width:40%; margin:0 auto;}
}
